body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#333;
color:white;
text-align:center;
padding:30px;
}

section{
padding:40px;
text-align:center;
}

.skills ul{
list-style:none;
padding:0;
}

.skills li{
display:inline-block;
background:#333;
color:white;
padding:10px 15px;
margin:5px;
border-radius:5px;
}

.projects{
background:white;
}

.project-card{
border:1px solid #ddd;
padding:20px;
margin:20px;
display:inline-block;
width:250px;
}

.project-card a{
display:block;
margin:10px;
text-decoration:none;
color:white;
background:#333;
padding:8px;
border-radius:5px;
}
.github a{
background:black;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}


footer{
background:#333;
color:white;
text-align:center;
padding:20px;
}